@{
    Layout = "_Layout";
}

<div class="center-page">
    <h2>Employee</h2>

    <div class="btn-row">
        <a href="/Account/EmployeeLogin" class="btn-main">Login</a>
        <a href="/Account/Register" class="btn-main">Register</a>
    </div>
</div>
