@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div class="home-box">
    <h1>FruitStock Solutions</h1>

    <div class="home-buttons">
        <button class="main-btn"
                onclick="window.location.href='/Admin/Login'">
            Admin
        </button>

        <button class="main-btn"
                onclick="window.location.href='/Account/EmployeeLogin'">
            Employee
        </button>
    </div>
</div>
